@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

.page-title {
  @apply text-2xl font-bold text-gray-200 text-center;
  font-family: 'Jaro', sans-serif;
}

.chord-root {
  @apply text-sm font-bold text-gray-200 text-center;
  font-family: "Quicksand", sans-serif;
}

.chord-suffix {
  @apply text-xs font-thin text-gray-200 text-center;
  font-family: "Quicksand", sans-serif;
  font-style: italic
}

.panel-variant-1 {
  @apply border-[.1px] border-gray-700 bg-gray-50/5 rounded-md p-4 shadow-md shadow-black/20 backdrop-blur-md backdrop-filter;
}
